* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;   
    padding: 10rem;
}
.box {
    box-shadow: black -20px 15px 0px;
    height: 50vh;
    width: 50vw;
}
.title {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 2.0rem;
    margin: 25px;
}
.btn {
    padding: 1em 2em;
    border-radius: 10px;
    border: 1px 0 1px 0;
    cursor: pointer;
    color: #000;
    background: #fff;
    transition: 0.2s;
    border: none;
    margin: 10px;
}
.quotes {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    margin: 10px;
}

.footer {
    width: 100%;
    color: black;
    text-align: center;
  }

  @media (max-width: 600px) {
      .box {
          width: 100vw;
          height: 100%;
      }
      .title {
          font-size: 1.2rem;
      }
      .btn {
          padding: 1.2em;
            }
      .quotes {
          font-size: 1rem;
      }
     
  }